{% import 'macros/_account_macros.html' as account_macros %}
{% import 'macros/_commodity_macros.html' as commodity_macros %}

{% macro render_diff_and_number(balance, cost, currency, invert=False) %}
  {% set num = balance.pop(currency, 0) %}
  <span class="number">{{ num|format_currency(currency, invert=invert) }}</span>
  {% if currency in cost %}
    {% set cost_num = cost.pop(currency, 0) %}
    {% set diff = num - cost_num %}
    {% if invert %}
      {% set diff = -diff %}
    {% endif %}
    {% set percent = "{:.2%}".format(diff / cost_num) %}
    {% if diff %}
    <span class="diff{{ ' positive' if diff > 0 else ' negative' }}" title="{{ cost_num|format_currency(currency, invert=invert) }} {{ currency }}">
	    {{ diff|format_currency(currency) }} ({{ percent }})</span>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro tree(account_node, invert=False, show_type_info=False) %}
{% set cash = namespace(value=0) %}
{% set equity = namespace(stock=0, stock_cost=0, fund=0, fund_cost=0) %}
<tree-table>
<ol class="flex-table tree-table{{ ' two-currencies' if ledger.options.operating_currency|length > 1 else '' }}" title="{{ _('Hold Shift while clicking to expand all children.
Hold Ctrl or Cmd while clicking to expand one level.') }}">
  <li class="head">
    <p>
      <span class="account-cell"><button type="button" class="link expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</button></span>
      {% for currency in ledger.options.operating_currency %}
      <span class="num">{{ currency }}</span>
      {% endfor %}
      <span class="num other">{{ _('Other') }}</span>
    </p>
  </li>
  {% for account in ([account_node] if account_node.name else account_node.children) if account|should_show recursive %}
  {% set balance = account.balance|cost_or_value(ledger.end_date) %}
  {% set balance_children = account.balance_children|cost_or_value(ledger.end_date) %}
  {% set cost = account.balance|cost if g.conversion == 'at_value' else {} %}
  {% set cost_children = account.balance_children|cost if g.conversion == 'at_value' else {} %}
  {% if ledger.accounts[account.name].meta.get('type') == 'CASH' and 'CNY' in cost %}
    {% set cost_num = cost.pop('CNY', 0) %}
    {% set cash.value = cash.value + cost_num %}
  {% endif %}
  {% if ledger.accounts[account.name].meta.get('type') == 'FUND' and 'CNY' in cost %}
    {% set balance_num = balance.pop('CNY', 0) %}
    {% set equity.fund = equity.fund + balance_num %}
    {% set cost_num = cost.pop('CNY', 0) %}
    {% set equity.fund_cost = equity.fund_cost + cost_num %}
  {% endif %}
  {% if ledger.accounts[account.name].meta.get('type') == 'STOCK' and 'CNY' in cost %}
    {% set balance_num = balance.pop('CNY', 0) %}
    {% set equity.stock = equity.stock + balance_num %}
    {% set cost_num = cost.pop('CNY', 0) %}
    {% set equity.stock_cost = equity.stock_cost + cost_num %}
  {% endif %}
  <li{{ ' class=toggled' if account.name|collapse_account else '' }}>
    <p{{ ' class=has-balance' if not balance.is_empty() else '' }}>
    <span class="account-cell depth-{{ loop.depth0 }} droptarget{{ ' has-children' if account.children else '' }}" data-account-name="{{ account.name }}">
      {{ account_macros.account_name(ledger, account.name, last_segment=True) }}
    </span>
    {% for currency in ledger.options.operating_currency %}
    <span class="num">
      <span class="balance">{{ render_diff_and_number(balance, cost, currency, invert=invert) }}</span>
      <span class="balance-children">{{ render_diff_and_number(balance_children, cost_children, currency, invert=invert) }}</span>
    </span>
    {% endfor %}
    <span class="num other">
      <span class="balance">
        {% for currency in balance.keys()|sort %}
        {{ render_diff_and_number(balance, cost, currency, invert=invert) }} {{ commodity_macros.render_currency(ledger, currency) }}<br>
        {% endfor %}
      </span>
      <span class="balance-children">
        {% for currency in balance_children.keys()|sort %}
        {{ render_diff_and_number(balance_children, cost_children, currency, invert=invert) }} {{ commodity_macros.render_currency(ledger, currency) }}<br>
        {% endfor %}
      </span>
    </span>
    </p>
    {% if account.children %}
    <ol>
      {{ loop(account.children|sort(attribute='name')) }}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>
</tree-table>
{% set equity_total = equity.fund + equity.stock %}
{% set equity_cost_total = equity.fund_cost + equity.stock_cost %}
{% set total = cash.value + equity_total %}
{% if show_type_info and cash.value != 0 and equity_total != 0 %}
<div>
  <table style="font-size: 0.9em;">
    <thead>
      <th>Asset Type</th>
      <th>Market Value</th>
      <th>Cost</th>
      <th>Yield</th>
      <th>Yield Rate</th>
      <th>Percentage</th>
    </thead>
    <tbody>
      <tr>
        <td>Cash</td>
        <td class="num">{{ cash.value|format_currency('CNY', False) }}</td>
        <td class="num">{{ cash.value|format_currency('CNY', False) }}</td>
        <td class="num"></td>
        <td class="num"></td>
        <td class="num">{{ "{:.2%}".format(cash.value / total) }}</td>
      </tr>
      <tr>
        <td>Fund</td>
        <td class="num">{{ (equity.fund)|format_currency('CNY', False) }}</td>
        <td class="num">{{ equity.fund_cost|format_currency('CNY', False) }}</td>
        <td class="num">{{ (equity.fund - equity.fund_cost)|format_currency('CNY', False) }}</td>
        <td class="num">{{ "{:.2%}".format( (equity.fund - equity.fund_cost) / equity.fund_cost ) }}</td>
        <td class="num">{{ "{:.2%}".format(equity.fund / total) }}</td>
      </tr>
      <tr>
        <td>Stock</td>
        <td class="num">{{ (equity.stock)|format_currency('CNY', False) }}</td>
        <td class="num">{{ equity.stock_cost|format_currency('CNY', False) }}</td>
        <td class="num">{{ (equity.stock - equity.stock_cost)|format_currency('CNY', False) }}</td>
        <td class="num">{{ "{:.2%}".format( (equity.stock - equity.stock_cost) / equity.stock_cost ) }}</td>
        <td class="num">{{ "{:.2%}".format(equity.stock / total) }}</td>
      </tr>
      <tr>
        <td>Equity</td>
        <td class="num">{{ (equity_total)|format_currency('CNY', False) }}</td>
        <td class="num">{{ equity_cost_total|format_currency('CNY', False) }}</td>
        <td class="num">{{ (equity_total - equity_cost_total)|format_currency('CNY', False) }}</td>
        <td class="num">{{ "{:.2%}".format( (equity_total - equity_cost_total) / equity_cost_total ) }}</td>
        <td class="num">{{ "{:.2%}".format(equity_total / total) }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
{% endmacro %}

{% macro render_budget(budget, currency, number=0) %}
{% if currency in budget %}
{% set diff = budget[currency] - number %}
<span class="diff {% if diff > 0 %}positive{% elif diff < 0 %}negative{% endif %}" title="{{ budget[currency]|format_currency(currency) }} {{ currency }}">
  ({{ diff|format_currency(currency, show_if_zero=True) }}{{ ' '+currency if not number else '' }})
</span>
{% endif %}
{% endmacro %}

{% macro account_tree(account_name, interval_balances, dates, accumulate) %}
<tree-table>
<ol class="fullwidth flex-table tree-table">
    <li class="head">
        <p>
        <span class="account-cell"><button type="button" class="link expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</button></span>
        {% for begin_date, end_date in dates %}
            {% if accumulate %}
                {% set time_filter = dates[0][0]|string + ' - ' + end_date|string %}
            {% else %}
                {% set time_filter = begin_date|string + ' - ' + end_date|string %}
            {% endif %}

            <span class="num other"><a href="{{ url_for('account', name=account_name, time=time_filter) }}">{{ begin_date|format_date }}</a></span>
        {% endfor %}
        </p>
    </li>
{% for account in [interval_balances[0]|get_or_create(account_name)] recursive %}
    <li{{ ' class=toggled' if account.account|collapse_account else '' }}>
        <p>
        <span class="account-cell depth-{{ loop.depth0 }} droptarget
        {{- '' if not account|length else ' has-children'}}
        " data-account-name="{{ account.account }}">
            {% if account|length %}<span class="expander"></span>{% endif %}
        {{ account_macros.account_name(ledger, account.account, last_segment=True) }}</span>
    {% for begin_date, end_date in dates %}
        {% if accumulate %}{% set begin_date = dates[-1][0] %}{% endif %}
        {% set budget = ledger.budgets.calculate(account.account, begin_date, end_date) %}
        {% set budget_children = ledger.budgets.calculate_children(account.account, begin_date, end_date) %}
        {% set current_account = interval_balances[loop.index0]|get_or_create(account.account) %}
        {% set balance = current_account.balance|cost_or_value(end_date) %}
        {% set balance_children = current_account|balance_children|cost_or_value(end_date) %}
        <span class="num other{{ ' has-balance' if (budget or not balance.is_empty()) else '' }}">
            <a href="{{ url_for('account', name=account.account, time=begin_date|string + ' - ' + end_date|string) }}">
            {% for pos in balance %}
                <span class="balance">
                    {{ render_budget(budget, pos.units.currency, pos.units.number) }}
                    {{ commodity_macros.render_amount(ledger, pos.units, 'number') }}
                </span>
            {% endfor %}
            {% for currency, number in budget.items() if currency not in balance.currencies() %}
              <span class="balance">
              {{ render_budget(budget, currency) }}
              </span>
            {% endfor %}
            {% for pos in balance_children %}
                <span class="balance-children">
                    {{ render_budget(budget_children, pos.units.currency, pos.units.number) }}
                    {{ commodity_macros.render_amount(ledger, pos.units, 'number') }}
                </span>
            {% endfor %}
            {% for currency, number in budget_children.items() if currency not in balance_children.currencies() %}
              <span class="balance-children">
              {{ render_budget(budget_children, currency) }}
              </span>
            {% endfor %}
            </a>
        </span>
    {% endfor %}
    </p>
    <ol>
    {{ loop(account.values()|sort(attribute='account')) }}
    </ol>
    </li>
{% endfor %}
</ol>
</tree-table>
{% endmacro %}
